@font-face {
    font-family: "HakgyoansimChilpanjiugaeTTF-B";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "GangwonEdu_OTFBoldA";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 박스 모델을 통일 */
  font-size: 20px;
}

.title {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  margin: auto;
  text-align: center;
  padding: 3% 0% 0% 0;
  font-size: 580%;
  color: #222;
  margin: auto;
  height: 3vh;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e9eed9;
  overflow: hidden;
}
/* === 도마 === */
.cuttingBoard {
  width: 40%;
  height: 60vh;
  /*전체높이증가*/
  /* background-color: #d2b48c; */
  background-image: url('../images/wood2.jpg');
  background-size: contain;
  background-position: 0%;
  border-radius: 7%;
  position: relative;
  /*내부요소의절대위치를위해설정*/
  margin: auto;
  margin-top: 4.5%;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  -ms-border-radius: 7%;
  -o-border-radius: 7%;
}
.side {
  width: 15%;
  height: 20vh;
  /* background-color: #d2b48c; */
  background-image: url('../images/wood2.jpg');
  background-size: contain;
  background-position: 0%;
  border-radius: 50%;
  position: absolute;
  /* 절대 위치로 배치 */
}

.leftSide {
  top: 33%;
  left: -10%;
}

.rightSide {
  top: 33%;
  right: -10%;
  /* left 대신 right로 위치 설정 */
}

.sideInside {
  width: 80%;
  height: 15vh;
  background-color: #fff8e8;
  border-radius: 50%;
  position: relative;
  /*절대위치로중앙배치*/
  top: 50%;
  /*부모의중앙*/
  left: 50%;
  /*부모의중앙*/
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sideInside:hover{
  background-color: #eae3d5;
  cursor: pointer;
}

  .methodTitle {
    height: 6vh;
    line-height: 6%;
    font-size: 5%;
    padding :3% 0 2% 2%;
    text-align: center;
    margin-bottom: 2%;
    font-family: "GangwonEdu_OTFBoldA", sans-serif;
    /*border: 1px solid black;*/
  }
  .imgArea {
    position: relative;
    top:-15%;
    width: 100%;
    height: 140%;
    /*border: 1px solid black;*/
    margin-left: 12%;
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .middleArea {
    font-family: "GangwonEdu_OTFBoldA", sans-serif;
    display: flex; /* 가로 정렬 */
    justify-content: space-between; /* 공간 분배 */
    width: 90%; /* 부모 요소와 같은 너비 */
    height: 30vh; /* 높이 조정 */
    margin-top: 1%; /* 상단 여백 */
  }
  .bottomArea {
    font-family: "GangwonEdu_OTFBoldA", sans-serif;
    width: 90%; /* 부모 요소와 같은 너비 */
    height: 30vh; /* 높이 조정 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1%; /* 상단 여백 */
  }

  div > p {
    font-family: "GangwonEdu_OTFBoldA", sans-serif;
    font-size: 2%;
    padding: 3%;
  }
  .writingMode{
    position: relative;
    font-size:230%;
    height: 100%;
    width: 20%;
    left: 35%;
    top:15%;
  }
  .methodExplain {
    width: 90%;
    height: 30vh;
    /*border: 1px solid black;*/
    margin-top: 23%;
    margin-left: 8%;
    font-size: 3%;
    text-align: center;
  }
/* === Home 으로 돌아가기 Btn */
  .backHomeBtn{
    font-family: "GangwonEdu_OTFBoldA";
    background-color: #fff8e8;
    border: 2px solid #222;
    position:relative;
    top:3%;
    left: 75%;
    width: 15%;
    height: 6vh;
    /* line-height: 7vh; */
    text-align: center;
    font-size: 130%;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
  }
  .backHomeBtn:hover{
    background-color: #eae3d5;
    cursor: pointer;
  }
  /* ==== 반응형으로 만들기 ===== */
  @media (max-width: 1350px) {
    .cuttingBoard {
        margin-top:7%;
        width: 50%;
        height: 60vh;
    }
  }
  @media (max-width: 1300px) {
    .cuttingBoard {
      margin-top:7%;
      width: 50%;
      height: 60vh;
  }
  }
  @media (max-width: 450px) {
    .cuttingBoard {
        margin-top: 50%;
        width: 80%;
        height: 40vh;
    }
    .writingMode{
      font-size: 150%;
    }
    .imgArea {
      position: relative;
      top:-15%;
      width: 100%;
      height: 80%;
      /*border: 1px solid black;*/
      margin-left: 12%;
      background-image: url("img.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .backHomeBtn{
      font-family: "GangwonEdu_OTFBoldA";
      background-color: #fff8e8;
      border: 2px solid #222;
      position:relative;
      top:3%;
      left: 70%;
      width: 25%;
      height: 6vh;
      /* line-height: 7vh; */
      text-align: center;
      font-size: 130%;
      border-radius: 20%;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
    }
  }