@font-face {
  font-family: "HakgyoansimChilpanjiugaeTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 박스 모델을 통일 */
  font-size: 20px;
}

.title {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  margin: auto;
  text-align: center;
  padding: 3% 0% 0% 0;
  font-size: 580%;
  color: #222;
  margin: auto;
  height: 3%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e9eed9;
  overflow: hidden;
}
/* === 도마 === */
.cuttingBoard {
  width: 40%;
  height: 60vh;
  /*전체높이증가*/
  /* background-color: #d2b48c; */
  background-image: url('../images/wood2.jpg');
  background-size: contain;
  background-position: 0%;
  border-radius: 7%;
  position: relative;
  /*내부요소의절대위치를위해설정*/
  margin: auto;
  margin-top: 4.5%;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  -ms-border-radius: 7%;
  -o-border-radius: 7%;
}

/* @media (max-width: 350px) {
  .cuttingBoard {
      margin-top: 40%;
      width: 50%;
      height: 45vh;
  }
} */
.side {
  width: 15%;
  height: 20vh;
  /* background-color: #d2b48c; */
  background-image: url('../images/wood2.jpg');
  background-size: contain;
  background-position: 0%;
  border-radius: 50%;
  position: absolute;
  /* 절대 위치로 배치 */
}

.leftSide {
  top: 33%;
  left: -10%;
}

.rightSide {
  top: 33%;
  right: -10%;
  /* left 대신 right로 위치 설정 */
}

.sideInside {
  width: 80%;
  height: 15vh;
  background-color: #fff8e8;
  border-radius: 50%;
  position: relative;
  /*절대위치로중앙배치*/
  top: 50%;
  /*부모의중앙*/
  left: 50%;
  /*부모의중앙*/
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sideInside:hover{
  background-color: #eae3d5;
  cursor: pointer;
}

.cookingArea {
  font-family: "GangwonEdu_OTFBoldA", sans-serif;
  width: 35%;
  height: 20vh;
  /* 높이를 줄여주고 */
  margin: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  /* 수직 정렬 */
  align-items: center;
  /* 중앙 정렬 */
  justify-content: center;
  /* 중앙 정렬 */
}
/* == 메뉴 이름 넣는 곳 === */
.menuTitle {
  height: 8vh;
  /* border: 1px solid red; */
  line-height: 8vh;
}
.menu {
  text-align: center;
  border: 3px solid black;
  font-size: 250%;
  width: 100%;
  position: relative;
  top: -10%;
  /*가로전체차지*/
  margin-bottom: 1%;
  /*항목간간격추가*/
  padding: 1%;
  /*내부여백추가*/
  /*모서리둥글게*/
  background-color: #fff8e8;
  /*배경색추가*/
  border-radius: 20%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.middleArea {
  /* border: 3px solid black; */
  font-family: "GangwonEdu_OTFBoldA", sans-serif;
  display: flex;
  /* 가로 정렬 */
  justify-content: space-between;
  /* 공간 분배 */
  width: 95%;
  /* 부모 요소와 같은 너비 */
  height: 20vh;
  /* 높이 조정 */
  margin: auto;
  position: relative;
  top: -10%;
  left: 1%;
  /* border: 1px solid red; */
}

.bottomArea {
  font-family: "GangwonEdu_OTFBoldA", sans-serif;
  width: 90%;
  /*부모요소와같은너비*/
  height: 25vh;
  /*높이조정*/
  display: flex;
  position: relative;
  top: -8%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1%;
}

.leftColumn {
  flex: 1;

  /*균등분배*/
  margin-left: 2%;
  /*왼쪽여백*/
  margin-right: 1%;
  /*오른쪽여백*/
  height: 20vh;
}

.rightColumn {
  /* border: 3px solid black; */
  flex: 1;
  /* 균등 분배 */
  margin-left: 2%;
  /* 왼쪽 여백 */
  margin-right: 2%;
  /* 오른쪽 여백 */
  height: 20vh;
}

.item {
  border: 3px solid black;
  /*박스구분을위해테두리추가*/
  /*모서리둥글게*/
  margin-bottom: 1%;
  /*항목간간격추가*/
  background-color: #fff8e8;
  /*배경색추가*/
  padding: 1%;
  /*내부여백추가*/
  text-align: center;
  position: relative;
  /*텍스트중앙정렬*/
  font-size: 300.5%;
  /*글자크기조정*/
  width: 90%;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.ingredientArea {
  margin-top: 5%;
  height: 19vh;
  margin-left: 5%;
}

.cookingTimeArea {
  height: 19vh;
  margin-top: 5%;
}

.cookingMethodArea {
  width: 90%;
  height: 20vh;
  margin-top: 2%;
  margin-left: 8%;
}

.titleNeedFood {
  padding: 0;
  /* border: 1px solid red; */
  font-size: 80%;
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */
  border-bottom:1px solid #222 ;
}
.titleNeedFood2{
  font-size: 100%;
  padding: 10%;
} 



/* label {
  font-size: 200.5%;
  position: relative;
  border: 1px solid rebeccapurple;
} */
  /* ======= 재료 넣는 박스 ==== */
  .needFoodArea{
    display: grid;
    grid-auto-rows: 2px; /* 각 행의 높이 */
    gap: 10px; /* 아이템 사이의 간격 */
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
  
  /*  === 만드는 방법 넣는 박스 입니다.. 근데 이것도 옆으로 할까요 말까요??? ==== */
  /*
  .makeFoodArea{
    display: grid;
    grid-auto-rows: 2px;  각 행의 높이 
    gap: 10px;  아이템 사이의 간격 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  */
.needFood ,.makeFood{
  box-sizing: border-box;
  padding: 3px;
  /* display: flex; */
  width: 100%;
  text-align: left;
  display: block;
  /* padding: 10px; */
  /* border: 1px solid red; */
  font-size: 100%;
  letter-spacing: 1px;
}

/* === Home 으로 돌아가기 Btn */
.backHomeBtn{
  background-color: #fff8e8;
  border: 2px solid #222;
  position:relative;
  top:-45%;
  left: 90%;
  width: 40%;
  height: 30%;
  text-align: center;
  font-size: 130%;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.backHomeBtn:hover{
  background-color: #eae3d5;
  cursor: pointer;
}


  .ingredientArea {
    height: 15vh;
    margin-left: 5%;
    top:-10%;
  
  }
  .cookingTimeArea{
    height: 15vh;
    top:-10%;
  }
  .cookingMethodArea{
    height: 25vh;
    position: relative;
    top:-30%;
  }
  .writingMode{
    position: relative;
    font-size:130%;
    height: 100%;
    width: 20%;
    left: 40%;
    top:5%;
  }
/* === 반응형으로 만들기 === */
@media (max-width: 1400px) {
  .cuttingBoard {
    width: 40%;
    height: 80vh;
    /*전체높이증가*/
    background-color: #d2b48c;
    border-radius: 7%;
    position: relative;
    /*내부요소의절대위치를위해설정*/
    margin: auto;
    margin-top: 4.5%;
    top:-10rem;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
  }
}
@media (max-width: 1350px) {
  .cuttingBoard {
      margin-top:10%;
      width: 50%;
      height: 60vh;
  }
  .item {
    padding: 0;
    top:-25%;
    font-size: 180%;
    /* border: 3px solid red; */
  }
}
@media (max-width: 1000px) {
  .cuttingBoard {
      margin-top: 15%;
      width: 70%;
      height: 60vh;
  }
}
@media (max-width: 700px) {
  .cuttingBoard {
      margin-top: 21%;
      width: 70%;
      height: 60vh;
  }
}
@media (max-width: 450px) {
  .cuttingBoard {
      margin-top: 50%;
      width: 80%;
      height: 40vh;
  }
  .item {
    padding: 0;
    /* margin: 0; */
    top:-25%;
    font-size: 180%;
  }
  .ingredientArea {
    height: 10vh;
    margin-left: 5%;
  }
  .cookingTimeArea{
    height: 10vh;
  }
  .cookingMethodArea{
    height: 15vh;
    position: relative;
    top:-60%;
  }
  .writingMode{
    font-size: 150%;
    left: -50%;
    top:-15%;
  }
}