* {
    padding: 0;
    margin: 0;
    /*box-sizing: content-box;*/
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #E9EED9;
    overflow: hidden;
}

@font-face {
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.title {
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
    margin: auto;
    text-align: center;
    padding: 3% 0% 0% 0;
    font-size: 580%;
    color: #222;
    margin: auto;
    height: 3%;
}

.mainArea {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height:70vh;
    width: 70%;
    margin-top: 2%;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menu {
    font-family: 'GangwonEdu_OTFBoldA';
    width: 60%;
    height: 100%;
    background-color: #A5B68D;
    padding: 2%;
    border-radius: 1%;
    margin-right: -0.5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
.btnArea{
    display: flex;
    width: 90%;
    height: 5vh;
}
.againMenu{
    flex: 2;
    text-align: center;
    font-size: 200%;
    position: relative;
    background-color: #E9EED9;
    border: 2px solid #4A4A4A;
    border-radius: 20% ;
    -webkit-border-radius: 20% ;
    -moz-border-radius: 20% ;
    -ms-border-radius: 20% ;
    -o-border-radius: 20% ;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.againMenu:hover{
    background-color: #dadecc;
    cursor: pointer;
}
.backHomeBtn{
    flex: 1;
    text-align: center;
    font-size: 120%;
    line-height: 5vh;
    position: relative;
    background-color: #E9EED9;
    border: 2px solid #4A4A4A;
    border-radius: 20% ;
    -webkit-border-radius: 20% ;
    -moz-border-radius: 20% ;
    -ms-border-radius: 20% ;
    -o-border-radius: 20% ;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .backHomeBtn:hover{
    background-color: #dadecc;
    cursor: pointer;
}
.todays {
    /* margin: 1% 0 1% 0; */
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4A4A4A;
    letter-spacing: 0.5%;
}

.todays div h1 {
    height: 50%;
    font-size: 500%;
    text-shadow: 3px 3px 5px whitesmoke;
}

.dividingLine {
    width: 90%;
    border-top: 1px solid #4A4A4A;
    margin: auto;
    margin: 1;
}

.menuList {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2% 0 2% 0;
}

.menuImg {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.picBox {
    width: 85%;
    height: 100%;
    background-color: rgba(235, 233, 233, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.picBox:hover{
    cursor: pointer;
}
.picBox div {
    border-radius: 10px;
    width: 95%;
    height: 90%;
    background-size: cover;
}

.pic1 {
    background-image: url('../images/떡.webp');
    background-position: 0%;
}
/* 
.pic2 {
    background-image: url('../images/pic2.jpg');
}

.pic3 {
    background-image: url('../images/pic3.jpg');
} */

.menuName {
    margin-top: 3%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}

.menuName div {
    line-height: 150%;
    height: 70%;
    width: 30%;
    font-size: 500%;
    text-align: center;
    color: #635858;
    text-shadow: 1px 1px 1px whitesmoke;
}
/* === Home 으로 돌아가기 Btn */

@media (max-width: 1400px) {
    .menu {
        position: relative;
        top:-10%;
        width: 50%;
        height: 60vh;
    }
    /* .title {
        margin: 2% 0 0 0;
        padding: 0;
    } */
    .againMenu{
        font-size: 150%;
    }
}

@media (max-width: 1300px) {
    .menu {
        margin-top: 10%;
        width: 38%;
        height: 60vh;
    }
    .todays div h1{
        font-size: 300%;
    }
    .menuName{
        font-size: 80%;
    }
}

@media (max-width: 1050px) {
    .menu {
        margin-top: 5%;
        width: 80%;
        height: 70vh;
    }
    .todays div h1{
        font-size: 600%;
    }
    .menuName{
        font-size: 100%;
    }
}

@media (max-width: 850px) {
    .menu {
        margin-top: 50%;
        width: 90%;
        height: 70vh;
    }
    .todays div h1{
        font-size: 350%;
    }
    .menuName{
        font-size: 80%;
    }
}


@media (max-width: 450px) {
    .menu {
        margin-top: 30%;
        width: 100%;
        height: 55vh;
        
    }
    .todays div h1{
        font-size: 200%;
    }
    .menuName{
        font-size: 50%;
    }
}